<div class="max-w-screen-full">
    <div class="p-4 flex gap-2 sm:items-center items-start">
        <div class="w-fit">
            <%= render "shared/user_blob", user: @user %>
        </div>
        <div>
            <% if current_user.roles.first.name == 'admin' && current_user != @user %>
                <div class="mt-1 text-sm leading-6 sm:mt-0 flex gap-2">
                    <%= render "form_user_role_selection", user: @user, dropdown_position: "dropdown-end" %>
                </div>
            <% end %>
        </div>
    </div>
    <%= form_with(model: @user) do |f| %>
        <div class="mt-10">
            <div class="p-4 border-b border-b-base-300">
                <h3 class="text-base font-semibold leading-7">Info</h3>
                <p class="mt-1 max-w-2xl text-sm leading-6 opacity-60">Personal details and information.</p>
            </div>
            
            <dl class="grid grid-cols-1 sm:grid-cols-2 sm:gap-4">
                <div class="p-4">
                    <dt class="text-sm font-medium leading-6 flex gap-2">
                        <span>First name</span>
                    </dt>
                    <dd>
                        <%= f.text_field :first_name, class: "input input-sm input-bordered w-full mb-2 mt-2" %>
                    </dd>
                </div>
                <div class="p-4">
                    <dt class="text-sm font-medium leading-6 flex gap-2" >
                        <span>Last name</span>
                    </dt>
                    <dd>
                        <%= f.text_field :last_name, class: "input input-sm input-bordered w-full mb-2 mt-2" %>
                    </dd>
                </div>
            </dl>
        </div>
            

        <% if @user.errors[:roles].present? %>
            <div class="bg-rose-400 mt-5 p-3 rounded-lg text-white shadow" role="alert">
                <%= @user.errors[:roles].join(';') %>
            </div>
        <% end %>

        <div class="mt-4 flex gap-4 justify-end items-center">
            <%= link_to "Cancel", user_path(@user), class: "btn btn-sm" %>
            <%= f.button "Update", class: "btn btn-sm btn-primary" %>
        </div>
    <% end %>
</div>