<div class="max-w-screen-sm m-auto">
    <%= form_with(model: @user) do |f| %>
        <div class="flex justify-between items-center">
            <div class="flex justify-center items-center gap-4">
                <div class="w-fit">
                    <%= render "shared/user_blob", user: @user %>
                </div>
                <div class="">
                    <div class="font-semibold text-[#101827]">
                        <%= "#{@user.first_name} #{@user.last_name}" %>
                    </div>
                    <div class="text-gray-400 text-sm">
                        Joined on <%= @user.created_at.to_fs(:long_ordinal) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="rounded border border-slate-300 mt-10">
            <div class="text-[#101827] text-lg p-4 border-b font-semibold">
                Contact info
            </div>
            <div class="flex justify-between items-center border-b">
                <div class="w-1/2 text-[#101827] p-4 font-medium" >
                    First name
                </div>
                <div class="w-1/2 px-4 py-2 text-[#101827]">
                    <%= f.text_field :first_name, class: "p-2 border rounded w-full" %>
                </div>
            </div>
            <div class="flex justify-between items-center border-b">
                <div class="w-1/2 text-[#101827] p-4 font-medium" >
                    Last name
                </div>
                <div class="w-1/2 px-4 py-2 text-[#101827]">
                    <%= f.text_field :last_name, class: "p-2 border rounded w-full" %>
                </div>
            </div>
            <div class="flex justify-between items-center border-b">
                <div class="w-1/2 text-[#101827] p-4 font-medium" >
                    Email address
                </div>
                <div class="w-1/2 px-4 py-2 text-[#101827]">
                    <%= f.text_field :email, class: "p-2 border rounded w-full" %>
                </div>
            </div>

            <% if current_user.roles.first.name == 'admin' %>
                <div class="flex justify-between items-center border-b">
                    <div class="w-1/2 text-[#101827] p-4 font-medium">Role</div>
                    <div class="w-1/2 px-4 py-2 text-[#101827]">
                        <% unique_id = SecureRandom.hex(6) %>
                        <% selection_items = ['admin', 'staff', 'client'] %>

                        <% content_for :toggle_dropdown_selection_2 do %>
                            <p id="toggle-<%= unique_id %>" type="button" class="inline-flex w-full justify-between border rounded bg-white px-3 py-2 text-[#101827] hover:bg-gray-50">
                                <%= @user.roles.first.name.capitalize %>
                                <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                            </p>
                        <% end %>

                        <% content_for :menu_dropdown_selection_2 do %>
                            <% selection_items.each do |selection_item| %>
                                <p class="cursor-pointer p-2 hover:bg-gray-200" data-selection-item="<%= selection_item %>" data-selection-toggle-id="toggle-<%= unique_id %>" data-selection-hidden-id="selection-item-hidden-<%= unique_id %>">
                                    <%= selection_item.capitalize %>
                                </p>
                            <% end %>
                        <% end %>

                        <%= render 'shared/dropdown_selection', id: "dropdown-selection-#{unique_id}", toggle: :toggle_dropdown_selection_2, menu: :menu_dropdown_selection_2 %>
                        <%= f.hidden_field :role, id: "selection-item-hidden-#{unique_id}", value: @user.roles.first.name %>
                    </div>
                </div>
            <% end %>
        </div>

        <% if @user.errors[:roles].present? %>
            <div class="bg-rose-400 mt-5 p-3 rounded-lg text-white shadow" role="alert">
                <%= @user.errors[:roles].join(';') %>
            </div>
        <% end %>

        <div class="mt-4 flex gap-4 justify-end items-center">
            <%= link_to "Cancel", user_path(@user), class: "mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto" %>
            <%= f.button "Save Changes", class: "mt-3 inline-flex w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-blue-500 sm:mt-0 sm:w-auto" %>
        </div>
    <% end %>
    <%= render "form_delete_user" %>
</div>