<div tabindex="0" role="button" class="dropdown">
  <summary class="btn btn-sm m-1">
    <div class="flex items-center gap-2 text-sm">
        <% if current_page?(users_path) %>
            <div class="flex gap-2">
                <%= heroicon "users" %> All users
            </div> 
        <% else %>
            <div class="flex gap-2">
                <%= heroicon "clock" %> Pending invitations
            </div> 
        <% end %>
        <%= heroicon "chevron-down" %>
    </div>
  </summary>
  <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
    <li>
        <a href="<%= users_path %>">
            <div class="flex gap-2 items-center">
                <%= heroicon "users" %> 
                All users
            </div>
        </a>
    </li>
    <li>
        <a href="<%= pending_invitations_users_path %>">
            <div class="flex gap-2 items-center">
                <%= heroicon "clock" %> 
                Pending invitations
            </div>
        </a>
    </li>
  </ul>
</div>