<h1 class="text-2xl bold">Users</h1>
<div>
    <% if current_user %>
    <table class="table-auto w-full text-sm text-left leading-5">
        <thead class="text-xs border-b uppercase">
            <tr class="text-[#101827]">
                <th scope="col" class="px-6 py-3">Email</th>
                <th scope="col" class="px-6 py-3">Role</th>
                <th scope="col" class="px-6 py-3">Action</th>
            </tr>
        </thead>
        <% @users.each do |user| %>
            <tbody class="text-gray-500">
                <tr class="border-b hover:bg-white">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <div class="flex items-center gap-3">
                            <%= render "shared/user_blob", user: user %>
                            <div>
                                <div><%= user.first_name.capitalize %> <%= user.last_name.capitalize %></div>
                                <div class="text-gray-500 font-normal"><%= user.email %></div>
                            <div>
                        </div>
                        
                    </th>
                    <td class="px-6 py-4">
                        <%= user.roles.pluck(:name).join(',').capitalize %>
                    </td>
                    <td class="px-6 py-4">

                        <%= render 'shared/tooltip', position_class: tooltip_bottom_left, 
                                                     tooltip_body: "Edit user account" do %>
                            <a href="<%= edit_user_path(user) %>">
                                <%= heroicon "ellipsis-vertical" %>
                            </a>
                        <% end %>
                    </td>
                </tr>
            </tbody>
        <% end %>
    <% end %>
</div>