<h1 class="text-xl font-bold mb-6">User management</h1>

<div class="mt-6">
  <div class="flex sm:flex-row flex-col md:items-center items-start justify-between p-4">
    <%= render "user_selection_menu" %>
    <%= render "shared/invite_user_btn" %>
  </div>
  <% if current_user %>
    <div class="overflow-x-auto border rounded-xl">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th class="text-center">
              Role
            </th>
            <th class="text-center">
              Locked
            </th>
            <th class="text-center">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <% @users.sort.each do |user| %>
            <% unique_id = SecureRandom.hex(6) %>
            <tr>
              <th class="whitespace-nowrap">
                <div class="flex items-center">
                  <%= link_to user_path(user) do %>   
                    <%= render "shared/user_blob", user: user %>
                  <% end %>
                </div>
              </th>

              <td class="w-12">         
                <div class="w-fit">
                  <%= render "shared/user_role_tag", user: user %>
                </div>
              </td>

              <td class="w-12">
                <% if user.access_locked? %>
                  <div class="text-error text-[0.65rem] px-1 py-0.5  flex justify-center">
                    <%= heroicon "lock-closed", options: { class: "h-4 w-4", disable_default_class: true } %>
                  </div>
                <% else %>
                  <div class="text-success text-[0.65rem] px-1 py-0.5 flex justify-center">
                    <%= heroicon "lock-open", options: { class: "h-4 w-4", disable_default_class: true } %>
                  </div>
                <% end %>
              </td>

              <td class="w-12">
                 <a href="<%= edit_user_path(user) %>" class="btn-sm btn-ghost rounded-lg font-medium text-primary">
                    Edit
                  </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>