<h1 class="text-xl font-bold mb-6">Invite users</h1>

<div class="max-w-screen m-auto p-4">
  <%= form_for(@user, url: invite_users_path) do |f| %>
    <% role_descriptions = {
      'admin' => "Admins have full access to all features and settings within the application.",
      'staff' => "Staff members can manage and perform tasks assigned to them within their designated scope.",
      'client' => "Clients have limited access and can interact with specific features related to their account and services."
    } %>
    <div class="flex flex-col mb-2">
      <%= f.label :first_name, class: "mb-1 text-sm font-medium", for: "user_first_name" %>
      <%= f.text_field :first_name, class: "input input-sm input-bordered w-full mb-2", id: "user_first_name" %>
    </div>
    <div class="flex flex-col mb-2">
      <%= f.label :last_name, class: "mb-1 text-sm font-medium", for: "user_last_name" %>
      <%= f.text_field :last_name, class: "input input-sm input-bordered w-full mb-2", id: "user_last_name" %>
    </div>
    <div class="flex flex-col mb-2">
      <%= f.label :email, class: "mb-1 text-sm font-medium", for: "user_email" %>
      <%= f.email_field :email, class: "input input-sm input-bordered w-full mb-2", id: "user_email" %>
    </div>

    <div class="flex flex-col mb-2">
      <label class="mb-2 text-sm font-medium">Select a role for this user:</label>
      <div class="role-list">
        <% User.available_roles.each_with_index do |role, index| %>
          <% role_id = "user_role_#{index}" %>
          <div class="flex flex-col gap-2 mb-2">
            <label class="flex items-center cursor-pointer" for="<%= role_id %>">
              <input type="radio" checked="<%=index.zero?%>" name="user[role]" value="<%= role %>" class="radio radio-xs role-selector" data-role-name="<%= role.capitalize %>" id="<%= role_id %>">
              <span class="ml-2 text-sm font-medium"><%= role.capitalize %></span>
            </label>
            <p class="text-xs text-gray-500 ml-6"><%= role_descriptions[role] %></p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="flex mt-4 mb-4 pt-4 gap-2 justify-end">
      <%= link_to "Cancel", :back, class: "btn btn-sm" %>
      <%= f.submit 'Send invitation', class: "btn btn-sm btn-primary" %>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener('turbo:load', function() {
    document.querySelectorAll('.role-selector').forEach(function(selector) {
      selector.addEventListener('change', function() {
        const selectedRole = this.dataset.roleName;
        document.getElementById('selectedRole').textContent = selectedRole;
      });
    });
  });
</script>