<h1 class="text-xl bold">User management</h1>
<div class="flex items-center justify-between">
  <%= render "user_selection_menu" %>
  <%= render "shared/invite_user_btn" %>
</div>
<div class="pb-12">
  <% if @pending_users.any? %>
    <table class="table-auto w-full text-sm text-left leading-5 bg-white rounded shadow mt-8">
      <thead class="text-xs uppercase bg-slate-100 rounded">
        <tr class="text-[#101827]">
          <th scope="col" class="px-6 py-3">Email</th>
          <th scope="col" class="px-6 py-3">Role</th>
          <th scope="col" class="px-6 py-3">Invitation Sent At</th>
        </tr>
      </thead>
      <tbody class="text-gray-500">
        <% @pending_users.each do |user| %>
          <% unique_id = SecureRandom.hex(6) %>
          <tr class="border-b border-slate-100 hover:bg-[#f1f5f980]">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
              <a href="<%= user_path(user) %>" class="flex w-min">
                <div class="flex items-center gap-3 w-fit">
                  <%= render "shared/user_blob", user: user %>
                  <div>
                    <div><%= user.first_name.capitalize %> <%= user.last_name.capitalize %></div>
                    <div class="text-gray-500 font-normal"><%= user.email %></div>
                  </div>
                </div>
              </a>
            </th>
            <td class="px-6 py-4">
              <%= user.roles.pluck(:name).join(',').capitalize %>
            </td>
            <td class="px-6 py-4 flex flex-col gap-1">
              <%= user.invitation_sent_at.strftime("%B %d, %Y %H:%M") %>
              <%= button_to 'Resend', resend_invitation_user_path(user), method: :patch, class: "font-semibold text-indigo-600 hover:text-indigo-500 cursor-pointer" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No pending invitations found.</p>
  <% end %>
</div>