<h1 class="text-xl font-bold mb-6">Profile</h1>

<div class="max-w-screen-sm pb-12">
    <div class="flex justify-between items-center">
        <div class="flex justify-center items-center gap-4">
            <div class="w-fit">
                <%= render "shared/user_blob", user: @user %>
            </div>
            <div>
                <div class="flex gap-2 justify-between items-center">
                    <div class="font-medium font-sm">
                        <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>
                    </div>
                    <% if @user.access_locked? %>
                        <div class="flex gap-1 items-center text-red-400 text-[0.65rem] px-1 py-0.5 bg-red-100 rounded-full">
                        <%= heroicon "lock-closed", options: { class: "h-3 w-3", disable_default_class: true } %> Locked
                        </div>
                    <% end %>
                </div>
                <div class="text-gray-400 text-sm">
                    Joined on <%= @user.created_at.to_fs(:long_ordinal) %>
                </div>
            </div>
        </div>
        <% if current_user == @user %>
            <%= link_to "Edit profile", edit_user_registration_path, class: "mt-3 inline-flex w-fit justify-center rounded-md bg-indigo-600 hover:bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 sm:mt-0 sm:w-auto" %>
        <% elsif current_user.roles.first.name == 'admin' && current_user != @user %>
            <%= link_to "Edit profile", edit_user_path(@user), class: "mt-3 inline-flex w-fit justify-center rounded-md bg-indigo-600 hover:bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 sm:mt-0 sm:w-auto" %> 
        <% end %>
    </div>
    <div class="rounded mt-10 border">
        <div class="text-[#101827] text-lg p-4 font-semibold ">
            Contact info
        </div>
        <div class="flex justify-between items-center border-b">
            <div class="text-[#101827] p-4 font-medium" >
                First name
            </div>
            <div class="p-4 text-gray-400">
                <%= @user.first_name.capitalize %>
            </div>
        </div>
        <div class="flex justify-between items-center border-b">
            <div class="text-[#101827] p-4 font-medium" >
                Last name
            </div>
            <div class="p-4 text-gray-400">
                <%= @user.last_name.capitalize %>
            </div>
        </div>
        <div class="flex justify-between items-center border-b">
            <div class="text-[#101827] p-4 font-medium" >
                Email address
            </div>
            <div class="p-4 text-gray-400">
                <%= @user.email %>
            </div>
        </div>
        <div class="flex justify-between items-center">
            <div class="text-[#101827] p-4 font-medium" >
                Role
            </div>
            <div class="p-4 text-gray-400 capitalize">
                <%= @user.roles.pluck(:name).join(', ') %>
            </div>
        </div>
    </div>

    <div class="rounded border mt-10">
        <div class="text-[#101827] text-lg p-4 font-semibold">
            User activity
        </div>
        <div class="flex justify-between items-center border-b">
            <div class="text-[#101827] p-4 font-medium" >
                Joined on
            </div>
            <div class="p-4 text-gray-400">
                <%= @user.created_at.to_fs(:long_ordinal) %>
            </div>
        </div>
        <div class="flex justify-between items-center border-b">
            <div class="text-[#101827] p-4 font-medium" >
                Last sign in
            </div>
            <div class="p-4 text-gray-400">
                <% if @user.last_sign_in_at? %>
                    <%= @user.last_sign_in_at.to_fs(:long_ordinal) %>
                <% else %>
                    N/A
                <% end %>
            </div>
        </div>
        <div class="flex justify-between items-center bg-white border-b">
            <div class="text-[#101827] p-4 font-medium" >
                Created by
            </div>
            <div class="p-4 text-gray-400">
                <% if @user.created_by_invite? %>
                    Invitation
                <% elsif %>
                    Registration
                <% end %>
            </div>
        </div>
        <% if @user.created_by_invite? %>
            <div class="flex justify-between items-center bg-white border-b">
                <div class="text-[#101827] p-4 font-medium" >
                    Invitation status
                </div>
                <div class="p-4 text-gray-400">
                    <% if @user.invitation_accepted? %>
                        <div class="text-green-600 bg-green-100 px-2 py-1 text-sm rounded-full flex gap-1">
                            <%= heroicon "check" %>Confirmed
                        </div>
                    <% elsif %>
                        <div class="flex flex-col sm:flex-row gap-2 items-center"> 
                            <div class="text-yellow-600 bg-yellow-100 px-2 py-1 text-sm rounded-full flex gap-1">
                                <%= heroicon "exclamation-triangle" %>Unconfirmed
                            </div>
                            <div>
                                <%= button_to 'Resend invitation', resend_invitation_user_path(@user), method: :patch, class: "font-semibold text-sm text-indigo-600 hover:text-indigo-500 cursor-pointer" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
        <% if @user.created_by_invite? %>
            <div class="flex justify-between items-center bg-white">
                <div class="text-[#101827] p-4 font-medium" >
                    Invited by
                </div>
                <% if @user.invited_by %>
                    <a href="<%= user_path(@user.invited_by) %>" class="p-4">   
                        <div class="text-indigo-600 hover:text-indigo-500 cursor-pointer">
                            <%= @user.invited_by.email %>
                        </div>
                    </a>
                <% elsif %>
                    <div class="p-4 text-gray-400">
                        N/A
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
    <% if @user.roles.first.name == 'admin' && current_user == @user %>
        <div class="rounded border mt-10">
            <div class="text-[#101827] text-lg p-4 font-semibold">
                User invitations
            </div>
            <% if @user.invitations.count > 0 %>
                <% @user.invitations.each do |invitation| %>
                    <div class="p-3 flex justify-between items-center gap-6 border-b">
                        <a href="<%= user_path(invitation) %>">
                            <div class="flex justify-center items-center gap-4">
                                <%= render "shared/user_blob", user: invitation %>
                                <div>
                                    <div class="font-medium font-sm text-gray-900">
                                        <%= "#{invitation.first_name.capitalize} #{invitation.last_name.capitalize}" %>
                                    </div>
                                    <div class="text-gray-400">
                                        <%= invitation.email %>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div>
                            <%= render "shared/user_role_tag", user: invitation %>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <div class="p-3 flex flex-col items-center">
                    <div class="p-4 text-gray-400 italic text-center">
                        You have not invited anyone yet<br>
                        Invite someone
                    </div>
                    <div class="p-4">
                        <%= render "shared/invite_user_btn" %>
                    </div>
                </div>
            <% end %>
            
        </div>
    <% end %>
</div>