<h1 class="text-xl font-bold ml-4 mb-6">Profile</h1>

<div class="max-w-screen-full pb-12">
    <div class="w-fit ml-4">
        <%= render "shared/user_blob", user: @user %>
    </div>
    <div class="mt-10">
        <div class="p-4 border-b border-b-base-300 flex justify-between">
            <div>
                <h3 class="text-base font-semibold leading-7">Info</h3>
                <p class="mt-1 max-w-2xl text-sm leading-6 opacity-60">Personal details and information.</p>
            </div>
            <% if current_user == @user %>
                <a href="<%= edit_user_registration_path %>">
                    <div class="tooltip tooltip-left" data-tip="Edit user profile.">
                        <button class="btn btn-sm btn-primary">
                            <%= heroicon "pencil-square" %>
                        </button>
                    </div>
                </a>
            <% elsif current_user.roles.first.name == 'admin' && current_user != @user %>
                <a href="<%= edit_user_path(@user) %>">
                    <div class="tooltip tooltip-left" data-tip="Edit user profile.">
                        <button class="btn btn-sm btn-primary">
                            <%= heroicon "pencil-square" %>
                        </button>
                    </div>
                </a>
            <% end %>
        </div>
        <div class="mt-6">
            <dl class="grid grid-cols-1 sm:grid-cols-2 sm:gap-4">

                <div class="p-4">
                    <dt class="text-sm font-medium leading-6 flex gap-2">
                        <span>First name</span>
                        <span class="link link-primary opacity-50" onclick="editField('first_name')"><%= heroicon "pencil-square" %></span>
                    </dt>
                    <dd id="first_name_display" class="mt-1 text-sm leading-6 opacity-60 sm:mt-0"><%= @user.first_name.capitalize %></dd>
                    <div id="first_name_edit" class="hidden">
                        <form id="first_name_form" action="<%= user_path(@user) %>" method="post" data-remote="true">
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                            <%= hidden_field_tag '_method', 'patch' %>
                            <%= text_field_tag 'user[first_name]', @user.first_name, class: "input input-sm input-bordered w-full mb-2 mt-2" %>
                            <button type="submit" class="btn btn-xs btn-primary">Save</button>
                            <button type="button" class="btn btn-xs" onclick="cancelEdit('first_name')">Cancel</button>
                        </form>
                    </div>
                </div>

                <div class="p-4">
                    <dt class="text-sm font-medium leading-6 flex gap-2">
                        <span>Last name</span>
                        <span class="link link-primary opacity-50" onclick="editField('last_name')"><%= heroicon "pencil-square" %></span>
                    </dt>
                    <dd id="last_name_display" class="mt-1 text-sm leading-6 opacity-60 sm:mt-0"><%= @user.last_name.capitalize %></dd>
                    <div id="last_name_edit" class="hidden">
                        <form id="last_name_form" action="<%= user_path(@user) %>" method="post" data-remote="true">
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                            <%= hidden_field_tag '_method', 'patch' %>
                            <%= text_field_tag 'user[last_name]', @user.last_name, class: "input input-sm input-bordered w-full mb-2 mt-2" %>
                            <button type="submit" class="btn btn-xs btn-primary">Save</button>
                            <button type="button" class="btn btn-xs" onclick="cancelEdit('last_name')">Cancel</button>
                        </form>
                    </div>
                </div>

                <div class="p-4">
                    <dt class="text-sm font-medium leading-6 flex gap-2">
                        <span>Email address</span>
                        <% if current_user == @user %>
                            <a href="<%= edit_user_registration_path %>">
                                <span class="link link-primary opacity-50"><%= heroicon "pencil-square" %></span>
                            </a>
                        <% end %>
                    </dt>
                    <dd class="mt-1 text-sm leading-6 opacity-60 sm:mt-0"><%= @user.email %></dd>
                </div>
                <div class="p-4">
                    <dt class="text-sm font-medium leading-6">Role</dt>
                    <dd class="mt-1 text-sm leading-6 sm:mt-0 flex gap-2">
                        <%= render "form_user_role_selection", user: @user, dropdown_position: "dropdown-start" %>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="mt-10">
        <div class="p-4 border-b border-b-base-300 flex justify-between">
            <div>
                <h3 class="text-base font-semibold leading-7">Activity</h3>
                <p class="mt-1 max-w-2xl text-sm leading-6 opacity-60">Activity details and status.</p>
            </div>
            <div>
                <% if @user.access_locked? %>
                    <div class="tooltip tooltip-left" data-tip="Unlock user account.">
                        <%= render "button_lock_unlock_user", user: @user, btn_text: false %>
                    </div>
                <% else %>
                    <div class="tooltip tooltip-left" data-tip="Lock user account.">
                        <%= render "button_lock_unlock_user", user: @user, btn_text: false %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="mt-6">
            <dl class="grid grid-cols-1 sm:grid-cols-2 sm:gap-4">
                <div class="px-4 py-6">
                    <dt class="text-sm font-medium leading-6">Joined on</dt>
                    <dd class="mt-1 text-sm leading-6 opacity-60 sm:mt-0"><%= @user.created_at.to_fs(:long_ordinal) %></dd>
                </div>
                <div class="p-4">
                    <dt class="text-sm font-medium leading-6">Last sign in</dt>
                    <dd class="mt-1 text-sm leading-6 opacity-60 sm:mt-0">
                        <% if @user.last_sign_in_at? %>
                            <%= @user.last_sign_in_at.to_fs(:long_ordinal) %>
                        <% else %>
                            N/A
                        <% end %>
                    </dd>
                </div>
                <div class="p-4">
                    <dt class="text-sm font-medium leading-6">Created via</dt>
                    <dd class="mt-1 text-sm leading-6 opacity-60 sm:mt-0">
                        <% if @user.created_by_invite? %>
                            Invitation
                        <% else %>
                            Registration
                        <% end %>
                    </dd>
                </div> 
                <div class="p-4">
                    <dt class="text-sm font-medium leading-6">Locked</dt>
                    <div class="flex gap-2 items-center">
                        <% if @user.access_locked? %>
                            <dd class="mt-1 badge badge-outline badge-error gap-2">
                                <%= heroicon "lock-closed", options: { class: "h-4 w-4", disable_default_class: true } %> Locked
                            </dd>
                        <% else %>
                            <dd class="mt-1 badge badge-outline badge-success gap-2">
                                <%= heroicon "lock-open", options: { class: "h-4 w-4", disable_default_class: true } %> Unlocked
                            </dd>
                        <% end %>
                    </div>
                </div>
                <% if @user.created_by_invite? %>
                <div class="p-4">
                    <dt class="text-sm font-medium leading-6">Invitation status</dt>
                    <dd class="mt-1 text-sm leading-6 sm:mt-0">
                        <% if @user.invitation_accepted? %>
                            <div class="badge badge-success p-3 gap-2 mt-1">
                                <%= heroicon "check" %> Accepted
                            </div>
                        <% else %>
                            <div class="flex gap-2 items-center mt-1"> 
                                <div class="badge badge-warning p-3 gap-2 whitespace-nowrap">
                                    <%= heroicon "exclamation-triangle" %> Not accepted
                                </div>
                                <div>
                                    <%= button_to 'Resend invitation', resend_invitation_user_path(@user), method: :patch, class: "font-semibold text-sm text-indigo-600 hover:text-indigo-500 cursor-pointer" %>
                                </div>
                            </div>
                        <% end %>
                    </dd>
                </div>
                <div class="p-4">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Invited by</dt>
                    <dd class="mt-1 text-sm">
                    <% if @user.invited_by %>
                        <a href="<%= user_path(@user.invited_by) %>" class="flex mt-1 ml-1">
                            <%= render "shared/user_blob", user: @user.invited_by %>
                        </a>
                    <% else %>
                        N/A
                    <% end %>
                    </dd>
                </div>
                <% end %>
            </dl>
        </div>
    </div>
    <% if @user.roles.first.name == 'admin' %>
        <div class="mt-10">
        <div class="p-4 border-b border-b-base-300 flex justify-between items-start">
            <div>
                <h3 class="text-base font-semibold leading-7">Invitations</h3>
                <p class="mt-1 max-w-2xl text-sm leading-6 opacity-60">List of users invited by you.</p>
            </div>
            <div>
                <%= render "shared/invite_user_btn" %>
            </div>
        </div>
        <div class="mt-6 border border-base-300 rounded-xl overflow-x-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Invited on</th>
                        <th>Accepted on</th>
                    </tr>
                </thead>
                <tbody>
                    <% @user.invitations.each do |invitation| %>
                        <tr>
                            <td class="whitespace-nowrap">
                                <a href="<%= user_path(invitation) %>" class="flex">
                                    <%= render "shared/user_blob", user: invitation %>
                                </a>
                            </td>

                            <td class="whitespace-nowrap">
                                <%= render "shared/user_role_tag", user: invitation %>
                            </td>

                            <td class="whitespace-nowrap opacity-50">
                                <%= invitation.invitation_sent_at.to_fs(:long_ordinal) %>
                            </td>

                            <td class="whitespace-nowrap">
                                <% if invitation.invitation_accepted? %>
                                    <span class="opacity-50"><%= invitation.invitation_accepted_at.to_fs(:long_ordinal) %></span>
                                <% else %>
                                    <div class="flex gap-2 items-center mt-1"> 
                                        <div class="badge badge-warning p-3 gap-2">
                                            <%= heroicon "exclamation-triangle" %> Not accepted
                                        </div>
                                        <div>
                                            <%= button_to 'Resend invitation', resend_invitation_user_path(@user), method: :patch, class: "font-semibold text-sm text-indigo-600 hover:text-indigo-500 cursor-pointer" %>
                                        </div>
                                    </div>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <% if @user.invitations.count == 0 %>
                <div class="p-4 opacity-50 text-sm text-center">
                    No user invitations found
                </div>
            <% end %>
        </div>
        </div>
    <% end %>
</div>

<script>
    document.addEventListener("turbo:load", () => {
        function editField(field) {
            document.getElementById(`${field}_display`).classList.add('hidden');
            document.getElementById(`${field}_edit`).classList.remove('hidden');
        }

        function cancelEdit(field) {
            document.getElementById(`${field}_display`).classList.remove('hidden');
            document.getElementById(`${field}_edit`).classList.add('hidden');
        }

        window.editField = editField;
        window.cancelEdit = cancelEdit;
    });

    document.addEventListener('ajax:success', function(event) {
        const [data, status, xhr] = event.detail;
        if (data.field && data.value) {
            const displayElement = document.getElementById(`${data.field}_display`);
            displayElement.textContent = data.value;
            displayElement.classList.remove('hidden');
            document.getElementById(`${data.field}_edit`).classList.add('hidden');
        }
    });
</script>