<div class="relative inline-block w-full">
  <div data-dropdown-menu-toggle="<%= id %>" class="cursor-pointer w-fit">
    <%= yield(toggle) %>
  </div>
  <div data-dropdown-menu-menu="<%= id %>" class="hidden absolute z-10 mt-2 origin-top-right border rounded shadow focus:outline-none <%= class_names %>" role="menu">
    <%= yield(menu) %>
  </div>
</div>