<nav class="border-gray-200 mb-6">
    <div class="flex flex-wrap items-center justify-between mx-auto p-4">
        <div class="flex items-center justify-between gap-2">
            <div class="mr-8">
                <%= link_to "Sparrow", root_path %>
            </div>
        </div>
        <% if current_user %>
            <div class="flex items-center justify-between gap-2">
                <% content_for :toggle_dropdown_menu_1 do %>
                    <%= render "shared/user_blob", user: current_user %>
                <% end %>

                <% content_for :menu_dropdown_menu_1 do %>
                    <div class="border-b p-3 flex justify-center items-center gap-6">
                        <div class="flex justify-center items-center gap-4">
                            <%= render "shared/user_blob", user: current_user %>
                            <div>
                                <div class="font-semibold text-[#101827]">
                                    <%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %>
                                </div>
                                <div class="text-gray-400">
                                    <%= current_user.email %>
                                </div>
                            </div>
                        </div>
                        <div>
                            <%= render "shared/user_role_tag" %>
                        </div>
                    </div>

                    <a href="<%= root_path %>">
                        <div class="p-3 hover:bg-slate-200">
                            <div class="text-gray-500 text-sm flex gap-2 items-center">
                                <%= heroicon "home" %> Dashboard
                            </div>
                        </div>
                    </a>
                    <% if current_user.roles.first.name == "admin" %>
                        <a href="<%= users_path %>">
                            <div class="p-3 hover:bg-slate-200">
                                <div class="text-gray-500 text-sm flex gap-2 items-center">
                                    <%= heroicon "users" %> Users
                                </div>
                            </div>
                        </a>
                    <% end %>
                    <a href="<%= user_path(current_user) %>">
                        <div class="border-b p-3 hover:bg-slate-200">
                            <div class="text-gray-500 text-sm flex gap-2 items-center">
                                <%= heroicon "user" %> Profile & account
                            </div>
                        </div>
                    </a>
                    <div class="group border-b">
                        <div class="text-gray-500 text-sm">
                            <%= render 'shared/dialog_box', id: 'dialog-1', title: 'Logout', content: 'Are you sure you want to logout?' do %>
                                <%= button_to destroy_user_session_path, method: :delete, class: "inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto" do %>
                                    Logout
                                <% end %>
                            <% end %>

                            <button data-dialog-toggle="dialog-1" class="p-3 group-hover:bg-red-200 w-full text-left flex gap-2 items-center">
                                <%= heroicon "arrow-up-tray", options: { class: "rotate-90" } %> Logout
                            </button>
                        </div>
                    </div>
                <% end %>
                <%= render 'shared/dropdown_menu', id: "dropdown-menu-1", toggle: :toggle_dropdown_menu_1, menu: :menu_dropdown_menu_1 %>
                </div>
            <% end %>
        </div>
    </div>
</nav>