<div class="navbar bg-base-100 shadow">
    <div class="flex-1">
        <div class="mr-8">
            <%= link_to "Sparrow", root_path %>
        </div>
    </div>

    <div class="flex-none">
        <% if current_user %>
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="ring-primary ring-offset-base-100 w-8 rounded-full ring ring-offset-2">
                        <img
                        alt="Tailwind CSS Navbar component"
                        src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                    </div>
                </div>
                <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 p-2 shadow">
                    <div class="border-b p-2 flex justify-center items-center gap-4">
                        <div class="flex justify-center items-center gap-3">
                            <%= render "shared/user_blob", user: current_user %>
                            <div>
                                <div class="font-medium font-sm">
                                    <%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %>
                                </div>
                                <div class="opacity-50">
                                    <%= current_user.email %>
                                </div>
                            </div>
                        </div>
                        <div>
                            <%= render "shared/user_role_tag", user: current_user %>
                        </div>
                    </div>
                    <li class="mt-2">
                        <a href="<%= root_path %>">
                            <div class="py-1.5 flex gap-2 items-center">
                            <%= heroicon "home" %> Dashboard
                            </div>
                        </a>
                    </li>
                    <li>
                        <% if current_user.roles.first.name == "admin" %>
                            <a href="<%= users_path %>">
                                <div class="py-1.5 flex gap-2 items-center">
                                    <%= heroicon "users" %> Users
                                </div>
                            </a>
                        <% end %>
                    </li>
                    <li class="border-b mb-2">
                        <a href="<%= user_path(current_user) %>" class="mb-2">
                            <div class="py-1.5 flex gap-2 items-center">
                                <%= heroicon "user" %> Profile & account
                            </div>
                        </a>
                    </li>
                    <li>
                        <button class="py-2.5 flex gap-2 items-center" onclick="logout_modal_1.showModal()">
                            <%= heroicon "arrow-up-tray", options: { class: "rotate-90" } %> Sign Out
                        </button>
                    </li>
                </ul>
            </div>
        <% end %>
    </div>
</div>

<dialog id="logout_modal_1" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <div class="flex gap-3 items-start">
            <div class="p-2 bg-red-100 rounded-full">
                <%= heroicon "exclamation-triangle", options: { class: "text-error" } %>
            </div>
            <div>
                <h3 class="text-lg font-bold">Sign out</h3>
                <p class="py-2">Are you sure you want to sign out?</p>
            </div>
        </div>
        <div class="modal-action">
            <!-- Form for logging out -->
            <%= form_with url: destroy_user_session_path, method: :delete do %>
                <button type="button" class="btn btn-sm" onclick="document.getElementById('logout_modal_1').close();">
                    Stay signed in
                </button>
                <%= submit_tag "Sign out", class: "btn btn-error btn-sm" %>
            <% end %>
        </div>
    </div>
    <div class="modal-backdrop" onclick="document.getElementById('logout_modal_1').close();"></div>
</dialog>