<%= tag.div class: "relative inline-block" do %>
  <% element_attributes ||= {} %>
  <% element_attributes[:onmouseover] = "this.nextElementSibling.classList.remove('hidden')" %>
  <% element_attributes[:onmouseleave] = "this.nextElementSibling.classList.add('hidden')" %>
  <%= content_tag(:div, yield, element_attributes) %>
  <div class="<%= position_class %> hidden absolute z-10 px-3 py-1 bg-slate-100 border border-slate-200 rounded-lg shadow-md">
    <p class="text-sm text-gray-800"><%= tooltip_body %></p>
  </div>
<% end %>

<%#=
  To position the tooltip around the parent assign 
  tooltip_position_helper classes to position_class as such:
     <%= render 'shared/tooltip', position_class: tooltip_top_left, 
                                  tooltip_body: "Edit tooltip text" do
    - Left:         w-max left-0 top-1/2 transform -translate-x-full -translate-y-1/2
    - Top Left:     w-max left-0 top-1/2 transform -translate-x-full -translate-y-full
    - Bottom Left:  w-max bottom-0 left-1/2 transform translate-y-full -translate-x-full

    - Right:        w-max right-0 top-1/2 transform translate-x-full -translate-y-1/2
    - Top Right:    w-max right-0 top-1/2 transform translate-x-full -translate-y-full
    - Bottom Right: w-max bottom-0 left-1/2 transform translate-y-full

    - Top:          w-max top-0 left-1/2 transform -translate-y-full -translate-x-1/2
    - Bottom:       w-max bottom-0 left-1/2 transform translate-y-full -translate-x-1/2
%>