<% if user.roles.first.name == "admin" %>
<div class="flex justify-center items-center gap-3 text-sm">
    <div class="avatar">
        <div class="ring-primary ring-offset-base-100 w-8 rounded-full ring ring-offset-2">
            <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
    </div>
    <div>
        <div class="font-medium">
            <%= "#{user.first_name.capitalize} #{user.last_name.capitalize}" %>
        </div>
        <div class="opacity-50 font-normal">
            <%= user.email %>
        </div>
    </div>
</div>
<% elsif user.roles.first.name == "staff" %>
<div class="flex justify-center items-center gap-3 text-sm">
    <div class="avatar">
        <div class="ring-secondary ring-offset-base-100 w-8 rounded-full ring ring-offset-2">
            <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
    </div>
    <div>
        <div class="font-medium">
            <%= "#{user.first_name.capitalize} #{user.last_name.capitalize}" %>
        </div>
        <div class="opacity-50 font-normal">
            <%= user.email %>
        </div>
    </div>
</div>
<% else %>
<div class="flex justify-center items-center gap-3 text-sm">
    <div class="avatar">
        <div class="ring-accent ring-offset-base-100 w-8 rounded-full ring ring-offset-2">
            <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
    </div>
    <div>
        <div class="font-medium">
            <%= "#{user.first_name.capitalize} #{user.last_name.capitalize}" %>
        </div>
        <div class="opacity-50 font-normal">
            <%= user.email %>
        </div>
    </div>
</div>
<% end %>